
.border-highlight {
	border: 2px solid orange;
}

.middle-frame {
	min-height: 500px;
}

footer {
	background: #efefef;
	height: 100px;
	padding: 20px 0 20px 0;
	box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.15);
}

footer h2 {
	color: #555555;
}